<div class="container">	
<footer>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <ul class="list-inline">
                <li> <font face=Courier New size="2"> &copy; 2020 </font> </li>
                <li>
                    <a href="https://www.linkedin.com/in/kwcooper"><i class="fa fa-linkedin fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://github.com/kwcooper"><i class="fa fa-github fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/keilandwcooper"><i class="fa fa-twitter fa-lg"></i></a>
                </li>
                <li> <font face= Courier New size="2"> 150921</font> </li>
            </ul>

            <!-- Pageview Code -->
            <ul class="list-inline">
                <font face=Courier New size="2"> Visitor number:  </font> 
            </ul>
            <font face=Courier New size="2"> <i>last updated 200225</i></font>

            <ul class="list-inline">
                <font face=Courier New size="2"> I'd love to hear your anonymous feedback on the site <a href="https://forms.gle/wpwbG33nWses3HgL6"><u>here</u></a>!</font>
            </ul>

        </div>
    </div>
    <br>
</footer>
</div>