<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 text-center">
            <ul class="list-inline list-group-horizontal">
                <li class="list-inline-item"> 
                  <font face= Courier New size="3"> <a class="" data-toggle="collapse" href="#lastupdate" role="button" aria-expanded="false" aria-controls="lastupdate">
                  October 10
                  </a> </font>
                  <font face=Courier New size="3"> &copy; 2022+ </font>
                
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/kw_cooper"><i class="fa fa-twitter fa-lg"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/kwcooper"><i class="fa fa-github fa-lg"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/kwcooper"><i class="fa fa-linkedin fa-lg"></i></a>
                </li>
                <li class="list-inline-item"> <font face= Courier New size="3" color="grey"> 150921</font> 
                        <font face= Courier New size="3" color="grey"> <a class="" data-toggle="collapse" href="#mydata" role="button" aria-expanded="false" aria-controls="mydata">
                       My data? 
                        </a> </font>
                </li>
            </ul>
          

        <div class="list-inline list-group-horizontal collapse" id="lastupdate">
          <div class="card-body text-center">
            <font face= Courier New size="2"><p>Some pages were last updated on October 10, 2022</p></font>
          </div>
         </div>
        <div class="list-inline list-group-horizontal collapse" id="mydata">
          <div class="card-body text-center">
            <font face= Courier New size="2"><p>I have enough data from other projects for now. I don't keep, sale, or think about yours (unless you ask me to).</p></font>
          </div>
         </div>
        
        </div>
    </div>
  </div>
</footer>

<!--<script src="{{ '/js/formHandler.js' | absolute_url }}"></script>-->
<script src="{{ '/js/vendor.js' | absolute_url }}"></script>
<script src="{{ '/js/script.js' | absolute_url }}"></script>
