<footer class="site-footer">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-1 text-center">
            <ul class="list-inline list-group-horizontal">
                <li class="list-inline-item"> <font face=Courier New size="3"> &copy; 2021+ </font> </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/kwcooper"><i class="fa fa-linkedin fa-lg"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/kwcooper"><i class="fa fa-github fa-lg"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/kw_cooper"><i class="fa fa-twitter fa-lg"></i></a>
                </li>
                <li class="list-inline-item"> <font face= Courier New size="3"> 150921</font> </li>
            </ul>
        </div>
    </div>
  </div>
</footer>

<!--<script src="{{ '/js/formHandler.js' | absolute_url }}"></script>-->
<script src="{{ '/js/vendor.js' | absolute_url }}"></script>
<script src="{{ '/js/script.js' | absolute_url }}"></script>
