  
  <!--
          _            _           _           _         _           _      _    _        
        /\ \          /\ \        /\ \        /\ \      /\ \        /\ \  /_/\  / /\      
       /  \ \        /  \ \      /  \ \      /  \ \    /  \ \      /  \ \ \_\ \/ /  \     
      / /\ \ \      / /\ \ \    / /\ \ \    / /\ \ \  / /\ \ \    / /\ \ \/\_\/ / /\ \__  
     / / /\ \ \    / / /\ \ \  / / /\ \ \  / / /\ \_\/ / /\ \_\  / / /\ \_\/_/ / /\ \___\ 
    / / /  \ \_\  / / /  \ \_\/ / /  \ \_\/ / /_/ / / /_/_ \/_/ / / /_/ / /  \ \ \ \/___/ 
   / / /    \/_/ / / /   / / / / /   / / / / /__\/ / /____/\   / / /__\/ /    \ \ \       
  / / /         / / /   / / / / /   / / / / /_____/ /\____\/  / / /_____/ _    \ \ \      
 / / /________ / / /___/ / / / /___/ / / / /     / / /______ / / /\ \ \  /_/\__/ / /      
/ / /_________/ / /____\/ / / /____\/ / / /     / / /_______/ / /  \ \ \ \ \/___/ /       
\/____________\/_________/\/_________/\/_/      \/__________\/_/    \_\/  \_____\/        
                                                                                          
  
  
                   █     █░▓█████  ▄▄▄▄     ██████  ██▓▄▄██████▓▓█████ 
                  ▓█░ █ ░█░▓█   ▀ ▓█████▄ ▒██    ▒ ▓█▒▒▓  ██▒ ▓▒▓█   ▀ 
                  ▒█░ █ ░█ ▒███   ▒██▒ ▄██░ ▓██▄   ▒██▒▒ ▓██░ ▒░▒███   
                  ░█░ █ ░█ ▒▓█  ▄ ▒██░█▀    ▒   ██▒░██░░ ▓██▓ ░ ▒▓█  ▄ 
                  ░░██▒██▓ ░▒████▒░▓█  ▀█▓▒██████▒▒░██░  ▒██▒ ░ ░▒████▒
                  ░ ▓░▒ ▒  ░░ ▒░ ░░▒▓███▀▒▒ ▒▓▒ ▒ ░░▓    ▒ ░░   ░░ ▒░ ░
                    ▒ ░ ░   ░ ░  ░▒░▒   ░ ░ ░▒  ░ ░ ▒ ░    ░     ░ ░  ░
                    ░   ░     ░    ░    ░ ░  ░  ░   ▒ ░  ░         ░   
                      ░       ░  ░ ░            ░   ░              ░  ░
                      ░                              

Hey! Are you a dev or a bot? If the former, then you should contact me and we can talk all things code. 
If you're a bot, then well, contact me and I'll give you a Turing test or two. 

-> kwcooper at uci dot edu

-->

<head>

  
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!-- other meta -->
  <meta name="description" content="The website of Keiland W. Cooper">
  <meta name="author" content="Keiland W. Cooper">
  <meta property="og:title" content="Keiland Cooper | {{ page.title }}" />
  <meta property="og:description" content="The central node of my online and offline world." />
  <meta property="og:image" content="/images/assets/hippocampus_histology.jpg" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | absolute_url }}" />
  <!-- font-awesome -->
  <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | absolute_url }}" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
  <!-- Main Stylesheets -->
  <link href="{{ '/css/style.css' | absolute_url }}" rel="stylesheet" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absolute_url }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.ico" | absolute_url }}" type="image/x-icon" />
  
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75150827-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-75150827-1');
  </script>

</head>