//site color variables
$body-color: #fff;
$primary-color: #e38690ff;
$secondary-color: #3B9AB2ff;
$tersh-color: #ecdcb0ff;
$quad-color: #c1d7aeff;
$dark-color: #313638ff; 

$text-color: #252627;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #242424;

// Font Variables -> old primary: Josefin Sans
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$font-para-size: 25px;
$font-para-size-mobile: 25px;


// Color pallett
//$blue-green: #3b9ab2ff;
//$shimmering-blush: #e38690ff;
//$dutch-white: #ecdcb0ff;
//$tea-green: #c1d7aeff;
//$onyx: #313638ff;